{% extends 'base.html' %} {% block title %}Contact{% endblock title %}
<!-- comment-->
{% block body %}
<div class="container my-4 bg-light">
  <img
    src="https://source.unsplash.com/random/1200x400?phone,contact"
    class="d-block w-100 mx-0"
  />
  <h1 class="text-center m-4">Contact Us</h1>
</div>
<div class="container my-3">
  <form class="row g-3 needs-validation" method="post" action="/contact">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="fname" class="form-label">First name</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom01"
        name="fname"
        value="Bipin"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-md-4">
      <label for="lname" class="form-label">Last name</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom02"
        name="lname"
        value="Khanal"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div class="col-md-4">
      <label for="username" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input
          type="text"
          class="form-control"
          id="validationCustomUsername"
          aria-describedby="inputGroupPrepend"
          name="username"
          required
        />
        <div class="invalid-feedback">Please choose a username.</div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">City</label>
      <input
        type="text"
        class="form-control"
        id="validationCustom03"
        name="city"
        required
      />
      <br>

    <div class="form-floating row-md-6">
      <textarea
        class="form-control"
        placeholder="Leave a comment here"
        id="floatingTextarea2"
        style="height: 100px"
        name="message"
      ></textarea>
      <label for="Message">Message</label>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required
        />
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
  </form>
</div>

{% endblock body %}
